<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>
<style>
    <%- include('css/topbar.css');
    %>
</style>
<body>
    <%- include('partials/topbar'); %>

        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title is-size-4">
                    Here's your secret
                </p>
                <p class="subtitle is-size-6-mobile">
                    This secret is encrypted with a user passphrase.
                </p>
            </div>
        </section>

        <div class="block has-text-centered has-text-link mx-5">
            <span class="icon is-large">
                <i class="fas fa-key fa-2x"></i>
            </span>
        </div>

        <div class="columns is-centered mx-4">
            <div class="column is-narrow">

                <form action="<%= link %>" method="POST">

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Passphrase</label>
                        </div>
                        <div>
                            <div class="control has-icons-left">
                                <input class="input <%= (wrongPass) ? 'is-danger' : '' %>" type="password"
                                    name="passphrase" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>

                            <% if (wrongPass) { %>
                                <p class="help has-text-danger">
                                    Cannot decrypt this secret with the provided passphrase.
                                </p>
                                <% } %>
                        </div>

                    </div>

                    <div class="field" style="float: right;">
                        <div class="control">
                            <button class="button is-link">Decrypt</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <%- include('partials/homebutton') %>
</body>

</html>