<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!--<link rel="stylesheet" type="text/css" href="css/notification.css">-->
    <script src="https://kit.fontawesome.com/71d07ad384.js" crossorigin="anonymous"></script>
    <title>One Time Secret</title>
</head>
<style>
    <%- include('css/notification.css');
    %>
</style>

<body>
    <%- include('partials/topbar'); %>

        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title is-size-4">Here's a link to your secret</p>
                <p class="subtitle is-size-6-mobile">
                    It can only be viewed once.<br />
                    After that it will be gone forever.<br />
                    It expires in <strong id="ttl"><%= `${ttl} ${ttl > 1 ? 'days.' : 'day.'}` %></strong>
                </p>
            </div>
        </section>

        <%- include('partials/notification', { content: link, isLink: true }); %>

            <%- include('partials/homebutton') %>
</body>

</html>