<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>
<style>
    <%- include('css/notification.css');
    %>
    <%- include('css/topbar.css');
    %>
</style>

<body>
    <%- include('partials/topbar'); %>

        <section class="section is-medium">
            <div class="container has-text-centered">
                <% if (secret) { %>
                    <p class="title is-size-4">
                        Here's your secret
                    </p>
                    <p class="subtitle is-size-6-mobile">
                        Your secret has been revealed, this link is now invalid.
                    </p>
                    <% } else { %>
                        <p class="title is-size-4">
                            Secret doesn't exist
                        </p>
                        <p class="subtitle is-size-6-mobile">
                            This link is invalid.<br />
                            This secret was already revealed or never existed.
                        </p>
                        <% } %>
            </div>
        </section>

        <% if (secret && decrypted) {%>
            <div class="block has-text-centered mx-5">

                <span class="icon is-large">
                    <i class="fas fa-key fa-2x has-text-success"></i>
                </span>

                <p class="help has-text-success-dark">
                    Successfully decrypted with user passphrase.
                </p>
            </div>
            <% } %>


                <% if (secret) { %>
                    <%- include('partials/notification', { content: secret, isLink: false }); %>
                        <% } %>

                            <%- include('partials/homebutton') %>
</body>

</html>