<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>
<style>
    <%- include('css/notification.css');
    %>
    <%- include('css/topbar.css');
    %>
</style>

<body>
    <%- include('partials/topbar'); %>

        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title is-size-4">
                    Here's your secret
                </p>
                <p class="subtitle is-size-6-mobile">
                    It can only be revealed once. After that the link will be invalid.
                </p>

            </div>
        </section>

        <div class="columns is-centered is-mobile">
            <div class="column is-narrow mx-4">
                <div class="notification is-info has-text-light">
                    <a href="?reveal=true">
                        <span class="icon" id="copy_icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <p id="secret">
                            Click to Reveal
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <%- include('partials/homebutton') %>
</body>

</html>